html, body {
    margin: 0;
    padding-top: 0;
    height: 100%;
    text-align: center;
    background: #cfcfcf;
    background: linear-gradient(315deg, rgba(207, 207, 207, 1) 0%, rgba(88, 88, 88, 1) 100%);
    font-family: Verdana, sans-serif;
    
}
h1 {
    text-align: center;
    color: #444;
    font-weight: bold;
    size: 4rem;
}



.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .3s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px; width: 18px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.box {
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #333;   /* solid border */
  border-radius: 12px;      /* rounded corners */
  background-color: #adadad; /* grey background */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* drop shadow */
  text-align: center;
  font-family: sans-serif;
 }
.box h2 {
  margin-top: 0;
 }
button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #0077cc;
  color: white;
  cursor: pointer;
 }
button:hover {
  background: #005fa3;
 }