html, body {
    margin: 0;
    padding-top: 100px;
    height: 100%;
    text-align: center;
    background-color: #333;
    font-family: Verdana, sans-serif;
    font-size: 0.95rem;
    padding: 0;
}
h1 {
    text-align: center;
    color: #0077cc;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 
      -2px -2px 1 #000,  
       2px -2px 1 #000,
      -2px  2px 1 #000,
       2px  2px 1 #000;
    margin-top: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .3s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px; width: 18px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.box {
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #333;
  border-radius: 12px;
  background-color: rgba(177, 174, 203);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  font-family: sans-serif;
  display: relative;
}
.clickable {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.clickable:hover {
  filter: brightness(0.8);
}
.box h3 {
  margin-top: 0;
  margin-bottom: 0.8rem;
}
button {
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background: #0077cc;
  color: white;
  cursor: pointer;
  display: inline-block;
}
button:hover {
  background: #005fa3;
}

.section {
  background-color: #333;
  background: linear-gradient(350deg, rgb(54, 36, 209) 0%, rgb(156, 156, 156) 100%);
  padding: 20px 0;
  margin: 0px 0;
  border-bottom: 3px solid #000000;
}

.banner {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(360deg, rgb(54, 36, 209) 0%, rgb(73, 73, 73) 100%);
  padding: 0;
  margin: 0;
}
.banner h1 {
  margin-top: 20px;
}

.banner-back {
  top: 0;
  padding: 0;
  margin: 0;
  height: 90px;
}

.box-img {
  width: 100%
}

a.boxlink {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 340px;
  margin: 0 auto;
  padding-top: 0;
}
